---
layout: page    # keep all the usual header/footer
---

{%- assign groups = page.profiles | group_by: "category" -%}

{%- for section in groups -%}
  {%- if section.name -%}
    <h2 class="mt-5 member-heading {{ section.name | slugify }}">
  {{ section.name }}
</h2>
  {%- endif -%}

  {%- for p in section.items -%}
    {% include profiles.liquid
       align=p.align
       image=p.image
       content=p.content
       image_circular=p.image_circular
       more_info=p.more_info %}
  {%- endfor -%}